
extends pblayout

block stylesheets
	link(rel='stylesheet', href='../assets/css/export.css')

block content
	section
		div
			form(method='POST', action='/Piggyback/export')
				p Start time
				if start_time
					input(type='datetime-local', name='start_time', value=start_time)
				else
					input(type='datetime-local', name='start_time', value='2016-01-01T00:00')
				br
				p End time
				if end_time
					input(type='datetime-local', name='end_time', value=end_time)
				else
					input(type='datetime-local', name='end_time', value='2017-01-01T00:00')
				br
				p Sort by
				select(name='sort')
					option(value='shortId') Short ID
					option(value='driverTip') Driver Tip
					option(value='taskType') Task Type
					option(value='completeAfter') Complete After
					option(value='completeBefore') Complete Before
					option(value='workerId') Worker ID
					option(value='workerName') Worker Name
					option(value='destination') Destination
					option(value='completionTime') Completion Time
					option(value='didSucceed') Did Succeed
				br
				p Company
				input(type='radio', name='company', value='Yelp')
				input(type='radio', name='company', value='DIN')
				br
				button(type='submit') Submit
				p= test
		div
			h3 Right side
	section
		table
			tr
				if headers
					each h in headers.split(',')
						th= h
			if arr
				each d in arr
					tr
						td #{d.shortId}
						td #{d.driverTip}
						td #{d.taskType}
						//- td #{d.completeAfter}
						//- td #{d.completeBefore}
						//- td #{d.workerId}
						td #{d.workerName}
						td #{d.destination}
						td #{d.completionTime}
						td #{d.didSucceed}
