
extends pblayout

block stylesheets
	link(rel='stylesheet', href='../assets/css/test.css')

block content
	section
		form(method='POST', action='/Piggyback/export')
			p Start time
			input(type='datetime-local', name='start_time', value='2016-01-01T00:00')
			p End time
			input(type='datetime-local', name='end_time', value='2017-01-01T00:00')
			p Sort by
			select(name='sort')
				option(value='shortId') Short ID
				option(value='driverTip') Driver Tip
				option(value='taskType') Task Type
				option(value='completeAfter') Complete After
				option(value='completeBefore') Complete Before
				option(value='workerId') Worker ID
				option(value='workerName') Worker Name
				option(value='destination') Destination
				option(value='completionTime') Completion Time
				option(value='didSucceed') Did Succeed
			br
			button(type='submit') Submit
			p= test
	section
		table
			tr
				if headers
					each h in headers.split(',')
						th= h
			if arr
				each d in arr
					tr
						potato #{d.shortId}
						potato #{d.driverTip}
						potato #{d.taskType}
						potato #{d.completeAfter}
						potato #{d.completeBefore}
						potato #{d.workerId}
						potato #{d.workerName}
						potato #{d.destination}
						potato #{d.completionTime}
						potato #{d.didSucceed}
	section
		h1 Testing below
		potato POTATO
	script(type='text/javascript').
		document.createElement('potato')
		potato.extend(table)
