
extends pblayout

block stylesheets
	link(rel='stylesheet', href='../assets/css/signin.css')

block content
	h1 Sign up page

	if errors
		h4 Error occurred
		ul
		each error in errors
			li= error
	br
	
	form(method='POST', action='/PiggyBack/signup')
		input(type='text', name='username', value=username, placeholder='Username', required, autocomplete='off')
		input(type='text', name='firstname', value=firstname, placeholder='First name', required, autocomplete='off')
		input(type='text', name='lastname', value=lastname, placeholder='Last name', required, autocomplete='off')
		input(type='text', name='phone', value=phone, placeholder='Phone Number', required, autocomplete='off')
		input(type='password', name='password', placeholder='Password', required)
		input(type='password', name='password2', placeholder='Retype Password', required)
		input(type='password', name='key', placeholder='Sign up key', required)
		button(type='submit') Submit
