
extends pblayout

block stylesheets

block content
	h1 Welcome #{username}
	h4 Glad to see you were able to log in successfully!
	h4 Not really sure what to add to the home page. Currently it just displays current tasks.
	h4 Head over to the export page to view some tasks, and try out the download button. 
	section
		h2 Current Tasks:
		ul
			if (tasks.length > 0)
				each task in tasks
					if task.state < 3
						li Task ID: #{task.id}
						li Task State: #{task.state}
						li Destination:
						ul
							li #{task.destination.address.number} #{task.destination.address.street}
							li #{task.destination.address.city}, #{task.destination.address.state} #{task.destination.address.postalCode}
						li Dependencies: #{task.dependencies}
						hr
			else
				li No tasks at the moment
